<div id="carouselWebStore" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/xboxseries.jpg" class="d-block w-100" alt="X-Box Series">
        </div>
        <div class="carousel-item">
            <img src="~/img/laptopasusoled.jpg" class="d-block w-100" alt="Laptop Asus OLED">
        </div>
        <div class="carousel-item">
            <img src="~/img/motorolaedge.jpg" class="d-block w-100" alt="Smartphone Motorola Edge">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselWebStore" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselWebStore" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>